<nav>
  <ul>
    <li routerLinkActive="active">
      <a routerLink="/perfil">Meu Perfil</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/empresa">Minha Empresa</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/clientes">Clientes</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/fornecedores">Fornecedores</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/categorias">Categorias</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/produtos">Produtos</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/compras">Compras</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/vendas">Vendas</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/relatorios">Relatórios</a>
    </li>
  </ul>
</nav>
